{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/style.refactored.css' %}" />

<div class="container">
  <div class="gt-card">
    <div class="card-body">
      <h2 class="text-center">Set New Password</h2>
      <form method="POST">
        {% csrf_token %}
        <label class="form-label" for="new_password1">New Password</label>
        <input
          type="password"
          name="new_password1"
          id="new_password1"
          class="form-control"
          required
        />

        <label class="form-label" for="new_password2"
          >Confirm New Password</label
        >
        <input
          type="password"
          name="new_password2"
          id="new_password2"
          class="form-control"
          required
        />

        <button type="submit" class="btn">Reset Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
