{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="register-container mx-auto">
        <h2 class="text-center">Set New Password</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3 text-start">
                <label class="form-label">New Password</label>
                <input type="password" name="new_password1" class="form-control" required>
            </div>
            <div class="mb-3 text-start">
                <label class="form-label">Confirm New Password</label>
                <input type="password" name="new_password2" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success w-100">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}