{% extends "base.html" %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/style.refactored.css' %}" />

<div class="container">
  <div class="gt-card">
    <div class="card-body">
      <h2 class="text-center">Password Reset Link Sent</h2>
      <p class="text-center">
        If an account with that email exists, you will receive a password reset
        link.<br />
        Please check your email (and spam folder).
      </p>
    </div>
  </div>
</div>
{% endblock %}
