{% extends "base.html" %} {% load static %} {% block title %}Register - GT
WalkThrough{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" />

<div class="container mt-5">
  <div class="register-container mx-auto p-4 bg-dark text-light rounded">
    <h2 class="text-center title">Register</h2>

    <form class="login-form" method="POST">
      {% csrf_token %}

      <div class="mb-3 text-field-container text-start">
        <label class="form-label">First Name</label>
        {{ form.first_name }}
      </div>

      <div class="mb-3 text-field-container text-start">
        <label class="form-label">Last Name</label>
        {{ form.last_name }}
      </div>

      <div class="mb-3 text-field-container text-start">
        <label class="form-label">Username</label>
        {{ form.username }}
      </div>

      <div class="mb-3 text-field-container text-start">
        <label class="form-label">Password</label>
        {{ form.password1 }}
      </div>

      <div class="mb-3 text-field-container text-start">
        <label class="form-label">Confirm Password</label>
        {{ form.password2 }}
      </div>

      <button type="submit" class="btn submit-btn btn-primary w-100">
        Register
      </button>

      <p class="account-exists text-center mt-3">
        Already have an account?
        <a href="{% url 'login' %}">Login here</a>
      </p>
    </form>
  </div>
</div>
{% endblock %}
