@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

:root{
    --clr-GT-blue: #162639;
    --clr-GT-gold: #B3A369;
}

.container{
    min-height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container{
    background-color: var(--clr-GT-blue);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;

    border-radius: 10px;
    padding: 30px 0px;


    width: 80%;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 2em;

    align-items: center;
    justify-content: center;

    background-color: transparent;
    width: 80%;
}


.text-field-container{
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    place-items: center;

    width: 80%;
}

.form-label{
    color: white;
}

.form-control{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.253);
    padding: 10px;
    border-radius: 5px;
    color: white;

    width: 100%;
}

.title{
    color: white;
    font-size: 35px;

    border-bottom: 7px solid var(--clr-GT-gold);
}

.submit-btn{
    width: 100%;
    padding: 5px;

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.342);
    color: white;

    cursor: pointer;
    font-size: 18px;
    padding: 10px;
}


.submit-btn:hover{
    background-color: var(--clr-GT-gold);
}


.forgot-password{
    text-decoration: none;
    color: var(--clr-GT-gold);
}
