@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Roboto+Condensed:wght@700&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

:root {
    --clr-GT-blue: #162639;
    --clr-GT-gold: #B3A369;
}

.container {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-container {
    background-color: var(--clr-GT-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 10px;
    padding: 30px 0px;
    width: 80%;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 80%;
}

.text-field-container {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    place-items: center;
    width: 100%;
}

.form-label {
    color: white;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}

.form-control {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.253);
    padding: 10px;
    border-radius: 5px;
    color: white;
    width: 100%;
}

.title {
    color: white;
    font-size: 35px;
    border-bottom: 7px solid var(--clr-GT-gold);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
}

.submit-btn {
    width: 100%;
    padding: 5px;
    background-color: var(--clr-GT-gold);
    border: 0px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    border-radius: 3px;
    font-weight: 500;
}

.submit-btn:hover {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.384);
}

.account-exists {
    color: white;
}

.account-exists a {
    text-decoration: none;
    color: var(--clr-GT-gold);
}