:root {
  --clr-GT-gold: #B3A369;
}

/* Unified button styling */
.route-btn {
  all: unset; /* wipe browser and Bootstrap defaults */
  box-sizing: border-box;

  width: 100%;
  padding: 10px;
  background-color: var(--clr-GT-gold);
  color: white;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.route-btn:hover {
  background-color: transparent;
  border: 1px solid var(--clr-GT-gold);
  color: var(--clr-GT-gold);
}