:root {
  --clr-GT-gold: #B3A369;
}

.route-btn {
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
  background-color: #b3a369;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.rename-btn {
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
  background-color: #b3a369;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.route-btn:hover {
  opacity: 0.85;
}
